<!DOCTYPE html>
<html>
  <head>
    <title>white.io</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('/favicon.ico') %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div id="common-vue"></div>
    <%= yield %>
  </body>

  <%= hidden_field_tag "params_to_vue", "fromRails", id: "hidden" %>
  <%= javascript_bundle_tag 'common' %>
</html>

<style>
</style>